@import "variables";

.header {
  background-image: linear-gradient(to bottom, $primary-color-600, $primary-color-400);
  padding: 0.2rem 0;
  .brand {
    height: 100%;
    cursor: pointer;
    transform: translateY(-2px);
    img {
      display: block;
      height: 100%;
      object-fit: contain;
    }
  }

  .q {
  }

  .cart {
  }
}
