<mat-toolbar class="header">
  <div class="container">
    <mat-toolbar-row class="header-top">
      <div>
        <span class="text-white normal text-sm pointer">
          Diễn đàn thảo luận
        </span>
      </div>
      <div
        *ngIf="user$ | async as user; else elseBlock"
        class="user flex item-center pointer"
        [matMenuTriggerFor]="menu"
      >
        <div class="user-avatar">
          <img [src]="user?.image" alt="" />
        </div>
        <span class="user-name normal">{{ user?.username }}</span>
      </div>
      <ng-template #elseBlock>
        <span class="text-white normal text-sm pointer" (click)="login()"
          >Đăng nhập
        </span>
      </ng-template>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="brand">
        <a routerLink="/">
          <img src="../../../../assets/images/logo.png" alt="logo" />
        </a>
      </div>
      <div class="q">
        <app-search-bar></app-search-bar>
      </div>
      <div class="cart">
        <app-cart></app-cart>
      </div>
    </mat-toolbar-row>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item class="menu-btn" (click)="logout()">Đăng xuất</button>
</mat-menu>
