@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.min-100vh {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media screen and (max-width: 576px) {
  .container {
      padding: 0 1rem;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.item-end {
  align-items: flex-end;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.outline-none {
  outline: none;
}

.border-none {
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mx-auto {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.thin {
  font-weight: 300;
}

.normal {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.full-height {
  height: 100%;
}

$space-amounts: (1, 2, 3, 4, 5);

@each $space in $space-amounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .mt-#{$space} {
    margin-top: #{$space}rem;
  }
  .mr-#{$space} {
    margin-right: #{$space}rem;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }
  .ml-#{$space} {
    margin-left: #{$space}rem;
  }
  .mx-#{$space} {
    margin-left: #{$space}rem;
    margin-right: #{$space}rem;
  }
  .my-#{$space} {
    margin-top: #{$space}rem;
    margin-bottom: #{$space}rem;
  }
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .pt-#{$space} {
    padding-top: #{$space}rem;
  }
  .pr-#{$space} {
    padding-right: #{$space}rem;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}rem;
  }
  .pl-#{$space} {
    padding-left: #{$space}rem;
  }
  .px-#{$space} {
    padding-left: #{$space}rem;
    padding-right: #{$space}rem;
  }
  .py-#{$space} {
    padding-top: #{$space}rem;
    padding-bottom: #{$space}rem;
  }
}

$widths: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

@each $width in $widths {
  .w-#{$width} {
    width: 100%;
    max-width: #{50 * $width}px;
  }
}

$colors: (
  "primary": $primary-color,
  "accent": $accent-color,
  "success": $success-color,
  "warn": $warn-color,
  "danger": $danger-color,
  "dim": $dim-color,
  "white": $white-color,
);

@each $color, $value in $colors {
  .text-#{$color} {
    color: #{$value};
  }
  .bg-#{$color} {
    background-color: #{$value};
  }
}
