.checkbox-col {

}

.product-col {

}

.price-col {
    width: 35%;
}

.quantity-col {
    width: 25%;
}

.total-col {
    width: 20%;
}

.action-col {
    width: 20%;
}

.mobile, .tablet {
    .list-header {
        display: none;
    }
}