<div class="search-bar" #searchbar>
  <input
    type="text"
    placeholder="Tìm kiếm sản phẩm"
    [formControl]="searchCtrl"
    [matAutocomplete]="auto"
    (keyup.enter)="onSearch()"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [hideSingleSelectionIndicator]="true"
    (optionSelected)="onSearch()"
  >
    <mat-option *ngFor="let hint of filteredHints | async" [value]="hint">
      {{ hint }}
    </mat-option>
    <mat-option [value]="''"> Tất cả</mat-option>
  </mat-autocomplete>
  <button
    matRipple
    matRippleColor="primary"
    [matRippleCentered]="true"
    (click)="onSearch()"
  >
    <mat-icon>search</mat-icon>
  </button>
</div>
