@import "variables";

.cart {
  margin-top: 10%;
  margin-right: 5%;
  button {
    display: block;
    background-color: transparent;
    color: $white-color;
    width: 80px;
    height: 60px;
    outline: none;
    border: none;
    transition: 0.3s ease-out;
    border-radius: 0.5rem;

    &:hover {
      background-color: $primary-color-500;
    }

    .icon {
      font-size: 25px;
      width: 25px;
      height: 25px;
    }
  }

  .mat-badge-content {
    transform: translate(-25px,15px);
  }
}

.mobile {

  &.cart {
    margin: 0;
  }
}
