<mat-card class="mb-1">
  <mat-card-content>
    <div class="flex">
      <div class="flex flex-1 item-center">
        <div class="pr-1 checkbox-col">
          <mat-checkbox></mat-checkbox>
        </div>
        <div class="flex-1 product-col">
          <ng-container *ngIf="productInfo$ | async as product">
            <p>{{ product.title }}</p>
          </ng-container>
        </div>
      </div>
      <div class="flex flex-1 item-center">
        <div class="price-col text-center">
          <span class="mr-1 fa text-sm text-dim">{{
            data.price | currency
          }}</span>
          <span class="normal">{{ discountedPriceByItem | currency }}</span>
        </div>
        <div class="text-center quantity-col">{{ data.quantity }}</div>
        <div class="text-center total-col">
          {{ data.discountedPrice | currency }}
        </div>
        <div class="text-center action-col">
          <button mat-mini-fab color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
