<mat-card appResponsive>
  <mat-card-content>
    <div class="flex content">
      <div class="flex flex-1 item-center block-start">
        <div class="pr-1 checkbox-col flex item-center">
          <mat-checkbox
            [checked]="checked"
            (change)="onCheck($event)"
          ></mat-checkbox>
          <span>Chọn tất cả ({{ totalProducts }})</span>
        </div>
        <div class="ml-2">
          <button
            mat-stroked-button
            color="primary"
            (click)="onRemove()"
            [disabled]="!checkedQuantity"
          >
            Xóa
          </button>
        </div>
      </div>
      <div class="flex item-center justify-end block-end">
        <span class="text-md total-text">
          Tổng thanh toán ({{ checkedQuantity }} sản phẩm):
        </span>
        <span class="text-xl text-primary normal ml-1 total">{{
          totalPayment | currency
        }}</span>
        <button
          matRipple
          class="pay-btn ml-3 pointer"
          (click)="onPaid()"
          [disabled]="!checkedQuantity"
          [class.disabled]="!checkedQuantity"
        >
          Mua hàng
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
