<mat-card *ngIf="product$ | async as product" appResponsive>
  <img
    mat-card-image
    [src]="product?.thumbnail"
    alt="thumbnail"
    class="product-thumbnail pointer"
  />
  <mat-card-content>
    <div class="product-wrapper">
      <div class="product-image">
        <img [src]="selectedImage" alt="main" loading="lazy" #image />
        <div class="btns">
          <button (click)="prevImage()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button (click)="nextImage()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      <div class="product-detail flex flex-col">
        <h3 class="product-title">{{ product.title }}</h3>
        <div class="flex product-rate">
          <app-product-rating
            [rating]="product?.rating"
            [showNumber]="true"
            class="mr-1"
          ></app-product-rating>
          <span class="product-stock text-dim"
            >Còn {{ product.stock }} sản phẩm
          </span>
        </div>
        <div class="flex my-1">
          <app-product-chip [content]="product.brand"></app-product-chip>
          <app-product-chip [content]="product.category"></app-product-chip>
        </div>

        <div class="product-price text-primary">
          <div>
            <span class="mr-1 fa text-dim orignal-price">{{
              product.price | currency
            }}</span>
            <span class="normal price">{{
              discountedPrice(product) | currency
            }}</span>
          </div>
          <div class="product-discount">
            {{ product.discountPercentage / 100 | percent }} Sale off
          </div>
        </div>
        <div class="half-width product-description">
          {{ product.description }}
        </div>
        <div class="flex product-btn flex-1 item-end">
          <button
            mat-stroked-button
            color="primary"
            (click)="onAddToCart(product.id)"
            class="mr-1"
          >
            Thêm vào giỏ hàng <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button mat-flat-button color="primary" (click)="onPaid()">
            Mua ngay
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div appResponsive *ngIf="relatedProduct$ | async as relatedProducts">
  <p class="text-xl normal mb-2 mt-3">Sản phẩm tương tự</p>
  <div class="product-list">
    <div *ngFor="let product of relatedProducts">
      <app-product-item [product]="product"></app-product-item>
    </div>
  </div>
</div>
