<div appResponsive>
  <app-infinite-list (scrolled)="onHandleScroll($event)" [hasMore]="hasMore">
    <mat-spinner *ngIf="loading$ | async" class="mx-auto spinner"></mat-spinner>
    <ng-container *ngIf="!(loading$ | async)">
      <div
        class="product-list"
        *ngIf="(products$ | async).length; else elseBlock"
      >
        <div *ngFor="let product of products$ | async">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <div class="flex item-center justify-center flex-col">
        <img
          src="../../../../../assets/images/not-available.png"
          alt=""
          class="not-available"
        />
        <button mat-stroked-button color="primary" (click)="onViewAll()">
          Xem tất cả
        </button>
      </div>
    </ng-template>
  </app-infinite-list>
</div>
