<form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-6 mx-auto">
  <h2 class="normal mb-1 text-primary">My Form</h2>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Họ tên</mat-label>
    <input matInput formControlName="name" />
    <mat-error>
      <span *ngIf="form.get('name')?.errors">
        Trường thông tin chưa hợp lệ
      </span>
    </mat-error>
  </mat-form-field>
  <div class="flex justify-end">
    <button mat-flat-button type="submit" color="primary">Submit</button>
  </div>
</form>
